* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.BarText{
    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;
    color: white;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    line-height: 42px;
    align-items: center;
    display: flex;
    height: 55px;
    width: 100%;
    background-color: #d90429;
    justify-content: center;
}
.Transactions {
    background-color: #2B2D42;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-position: center;
    background-size: cover;
}

*::-webkit-scrollbar {
    display: none;
}
.Logo{
    cursor:pointer;
}
.Logo:hover{
    color: #d5d5d5;
}
.userName h1{
    cursor: pointer;
}
.userName h1:hover{
    color: #d5d5d5;
}
.userName h1{
    line-height: 1.16;
}
.MainBar{
    display: flex;
    flex-direction: row;
}
.userName{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 5px;
}
.loadTransactions{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.daySeparator {
    margin-left: 80px;
    margin-top: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: white;
}
button {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 15%;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #202231;
    color: white;
    text-align: center;
    border: 2px solid #EF233C;
    border-radius: 10px;
    transition-duration: 0.5s;
}
button:hover {
    background-color: #ef233c;
    cursor: pointer;
}
button:active {
    background-color: #ef233c;
    box-shadow: 0 5px #ef233c;
    transform: translateY(3px);
    transition-duration: 0.3s;
}
.fullWidthSkeleton {
    opacity: 1;
    /* Начальная непрозрачность */
    transition: opacity 1.5s ease;
    /* Плавная анимация исчезновения */
} 
.transRow {
    font-size: 20px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    border: 2px solid #EF233C;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    transition-duration: 0.5s;
}
.transRow:hover{
    background-color: #3854F2;
    cursor: pointer;
}
.transRow:active{
    background-color: #3854F2;
    box-shadow: 0 5px #3854F2;
    transform: translateY(3px);
    transition-duration: 0.3s;
}
.firstRow .material-symbols-outlined {
    cursor: pointer;
}
.firstRow .material-symbols-outlined:hover {
    color: #d5d5d5;
}

.firstRow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.mainContent .material-symbols-outlined {
    cursor: pointer;

}
.filterRow h2 {
    font-size: 25px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.graphContainer {
    z-index: 2;
}
.limitationElements {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EF233C;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    transition-duration: 0.5s;
}

.limitationElements:hover{
    background-color: #3854F2;
    cursor: pointer;
}
.limitationElements:active{
    background-color: #3854F2;
    box-shadow: 0 5px #3854F2;
    transform: translateY(3px);
    transition-duration: 0.3s;
}

.mainContent .material-symbols-outlined:hover {
    color: #d5d5d5;
}
.mainContent table{
    font-size: 25px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}
.mainContent td, th{
    padding: 20px;
    border: 2px solid #EF233C;
    border-radius: 10px;
}

.filterRow {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.resultRow {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #EF233C;
    border-radius: 10px;
}

.resultRow h2 {
    font-size: 25px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.infoRow {
    display: flex;
    justify-content: space-between;
}

.infoRow h1 {
    font-size: 20px;
}


.graphContainer {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.graph {
    width: 45%;
}

.Transactions .transHeader {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    margin:20px;
}
.comeIncome {
    color: lawngreen;
}

.comeOutcome {
    color: #EF233C;
}
.mainContent .material-symbols-outlined{
    float: right;
    margin-right: 10px;
}
.material-symbols-outlined{
    color:white;
    font-size: 40px;
    margin-left: 10px;
    vertical-align: bottom;
}
.PieCharts {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.PieBars {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 200px;
}