* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.BarText{
    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;
    color: white;
}
.Transactions {
    background-image: url("../../Public/CashR.jpg");
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-position: center;
    background-size: cover;
}

*::-webkit-scrollbar {
    display: none;
}

.userName{
    cursor: pointer;

}
.userName h1:hover{
    color: #d5d5d5;
}
.userName h1{
    line-height: 1.16;
}
.MainBar{
    display: flex;
    flex-direction: row;
}
.userName{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 5px;
}

.material-symbols-outlined{
    color:white;
    font-size: 40px;
    margin-left: 10px;
    vertical-align: bottom;
}